<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speak Free | Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/c28aaf1d1c.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap|"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><i class="fa fa-flag" aria-hidden="true"></i> Speak
          <span class="highlight">Free</span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Confessions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Find unheard voices"
              aria-label="Search"
            />
            <button class="btn my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container jumbrotron" style="margin-top: 80px;">
      <div class="jumbotron" id="trending">
        <div class="row">
          <div class="col-md-6" id="trending1">
            <a href="#"><h1>Trending topic 1</h1></a>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae dicta esse vel quam doloremque animi reprehenderit
              ipsam officiis dolorem perferendis sequi porro, eligendi laborum
              totam aut minima excepturi est incidunt! Lorem, ipsum dolor sit
              amet consectetur adipisicing elit. Incidunt optio deserunt quidem
              sequi labore expedita nostrum architecto quisquam sunt, porro
              accusamus magnam eos placeat autem sit blanditiis enim, maiores
              officiis.
            </p>
          </div>
          <div class="col-md-6">
            <div class="row trending_other">
              <a href="#"><h1>Trending topic 2</h1></a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem doloremque veniam unde vel laborum consectetur
                distinctio eos dolores voluptate quod nam quasi debitis eaque
                ipsa culpa labore quos, aliquam ducimus?
              </p>
            </div>
            <div class="row trending_other">
              <a href="#"><h1>Trending topic 3</h1></a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem doloremque veniam unde vel laborum consectetur
                distinctio eos dolores voluptate quod nam quasi debitis eaque
                ipsa culpa labore quos, aliquam ducimus?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
